<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: nav"></nav>
    <div class="alert alert-warning text-center" role="alert" th:if="${member != null && !member.emailChecked}">
        서비스를 정상적으로 이용하시려면 <a th:href="@{/check-email}" class="alert-link">이메일 인증</a>을 완료하세요.
    </div>

    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-11">
                <h3>[[${type.getDescription()}]]</h3>
            </div>
            <div class="col-11">
                <hr style="border: solid 1px mediumpurple;"/>
            </div>
            <div class="col-11">
                <p class="lead text-center" th:if="${sharePage.getTotalElements() == 0}">
                    <mark th:text="${type}" style="font-weight: bold"></mark>에 해당하는 공유가 없습니다.
                </p>
                <div class="row" id="cardDiv">
                    <div class="col-md-6 col-lg-3 justify-content-center" th:each="share: ${sharePage}">
                        <div class="card mb-4 shadow-sm" style="border-radius: 7%;">
                            <div class="card-body row">
                                <a th:href="@{|/share/${share.id}|}" style="color: black; text-decoration: none;">
                                    <div class="col-12">
                                        <h4 class="card-title" th:text="${share.serviceName}"></h4>
                                        <h6 class="card-subtitle" style="font-weight: lighter" th:text="${share.title}"></h6>
                                    </div>
                                    <div class="col-12 my-2 row">
                                        <span class="col-2" th:each="num : ${share.getMembers().size()}" th:if="${!share.getMembers().isEmpty()}">
                                            <img class="rounded bg-light border" src="/images/logo.png" alt="참여중인 멤버" width="30px"/>
                                        </span>
                                        <span class="col-2" th:each="num : ${#numbers.sequence(1, share.recruitmentCount - share.getJoinMemberCount())}" th:if="${share.getJoinMemberCount() != share.recruitmentCount}">
                                            <img class="rounded bg-light border" src="/images/emptyMember.png" alt="빈멤버" style="filter: brightness(60%);" width="30px"/>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            [[${share.shareFinishAt}]] (<span style="font-weight: bold">[[${share.getRamainDays()}]]</span>일)
                                        </span>
                                        <span>
                                            <span style="font-weight: bold;">[[${#numbers.formatInteger(share.getCost(), 0, 'COMMA')}]]</span>원
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <th:block th:each="keyword : ${share.getKeywords()}">
                                            <span  class="badge badge-info"  style="font-size: small">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                                                <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                                                <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                                                </svg>
                                                [[${keyword.getKeyword()}]]
                                            </span>
                                        </th:block>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" th:if="${sharePage.hasPrevious() || sharePage.hasNext()}" >
                <div class="col-sm-11">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!sharePage.hasPrevious()}? disabled">
                                <a th:href="@{'/search/'+${#strings.toLowerCase(type)}+'?desc&page=' + ${sharePage.getNumber() - 1}}"
                                   class="page-link" tabindex="-1" aria-disabled="true">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i == sharePage.getNumber()}? active"
                                th:each="i: ${#numbers.sequence(0, sharePage.getTotalPages() - 1)}">
                                <a th:href="@{'/search/'+${#strings.toLowerCase(type)}+'?desc&page=' + ${i}}"
                                   class="page-link" href="#" th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${!sharePage.hasNext()}? disabled">
                                <a th:href="@{'/search/'+${#strings.toLowerCase(type)}+'?desc&page=' + ${sharePage.getNumber() + 1}}"
                                   class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>