<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: nav"></nav>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-11 row">
                <div class="col-3">
                    <ul class="list-group">
                        <a href="#" th:href="@{/notifications}" th:classappend="${isNew}? active"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            새 알림
                            <span th:text="${numberOfNotChecked}">3</span>
                        </a>
                        <a href="#" th:href="@{/notifications/old}" th:classappend="${!isNew}? active"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            지나간 알림
                            <span th:text="${numberOfChecked}">0</span>
                        </a>
                    </ul>
                    <ul class="list-group mt-4" th:if="${numberOfChecked > 0}">
                        <form th:action="@{/notifications}" th:method="delete">
                            <button type="submit" class="btn btn-block btn-outline-warning">
                                알림 삭제
                            </button>
                        </form>
                    </ul>
                </div>

                <div class="col-9">
                    <div class="card" th:if="${notifications.size() == 0}">
                        <div class="card-header">
                            알림이 없습니다.
                        </div>
                    </div>

                    <div class="card" th:if="${joinedShareNotifications.size() > 0}">
                        <div class="card-header">
                            공유 알림
                        </div>
                        <ul class="list-group list-group-flush">
                            <a th:href="@{|${notification.link}|}" th:each="notification: ${joinedShareNotifications}"
                               class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted" th:text="${notification.title}"></small>
                                    <small class="text-muted" th:text="${notification.createdDateTime}"></small>
                                </div>
                                <p th:text="${notification.message}" class="text-left mb-0 mt-1"></p>
                            </a>
                        </ul>
                    </div>

                    <div class="card mt-3" th:if="${newShareNotifications.size() > 0}">
                        <div class="card-header">
                           키워드 알림
                        </div>
                        <ul class="list-group list-group-flush">
                            <a th:href="@{|${notification.link}|}" th:each="notification: ${newShareNotifications}"
                               class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted" th:text="${notification.title}"></small>
                                    <small class="text-muted" th:text="${notification.createdDateTime}"></small>
                                </div>
                                <p th:text="${notification.message}" class="text-left mb-0 mt-1"></p>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>