<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: nav"></nav>

    <div class="container">
        <div class="row pt-5 justify-content-center">
            <div class="col-sm-11">
                <h3>공유/판매 수정</h3>
            </div>
            <div class="col-sm-11">
                <hr style="border: solid 1px gray;"/>
            </div>
        </div>

        <div class="row justify-content-center">
            <p class="text-danger" th:if="${!share.getMembers().isEmpty()}">공유에 참여한 회원이 있으면 종료일자를 변경할 수 없습니다.</p>
            <form class="col-sm-11" th:action="@{|/share/${share.id}/edit|}" th:object="${shareForm}" method="post">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="contentType">공유 카테고리</label>
                        <select id="contentType" th:field="*{contentType}" class="form-control">
                            <option th:each="type : ${contentTypes}" th:value="${type}">[[${type.getDescription}]]</option>
                        </select>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('contentType')}" th:errors="*{contentType}">contentType Error</small>
                    </div>
                    <div class="col-1"></div>

                    <div class="form-group col-sm-8">
                        <label for="title">제목</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control"
                        placeholder="제목을 입력해주세요. (50자 이내)" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="serviceName">공유 서비스명</label>
                        <input id="serviceName" type="text" th:field="*{serviceName}" class="form-control"
                               placeholder="ex) 넷플릭스" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">serviceName Error</small>
                    </div>
                    <div class="col-1"></div>

                    <div class="form-group col-sm-4">
                        <label for="shareId">공유 ID</label>
                        <input id="shareId" type="text" th:field="*{shareEmail}" class="form-control"
                               placeholder="계정 아이디" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('shareEmail')}" th:errors="*{shareEmail}">shareId Error</small>
                    </div>

                    <div class="form-group col-sm-4">
                        <label for="sharePassword">공유 Password</label>
                        <input id="sharePassword" type="text" th:field="*{sharePassword}" class="form-control"
                               placeholder="비밀번호" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('sharePassword')}" th:errors="*{sharePassword}">sharePassword Error</small>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="recruitmentCount">모집 인원</label>
                        <select id="recruitmentCount" th:field="*{recruitmentCount}" class="form-control">
                            <option th:if="${!share.getMembers().isEmpty()}" th:each="num : ${#numbers.sequence(share.getJoinMemberCount(),6)}" th:value="${num}">[[${num}]]</option>
                            <option th:if="${share.getMembers().isEmpty()}" th:each="num : ${#numbers.sequence(1,6)}" th:value="${num}">[[${num}]]</option>
                        </select>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('recruitmentCount')}" th:errors="*{recruitmentCount}">recruitmentCount Error</small>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="dailyRate">하루당 참여 비용</label>
                        <input id="dailyRate" type="number" th:field="*{dailyRate}" class="form-control"
                               placeholder="ex) 120" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('dailyRate')}" th:errors="*{dailyRate}">dailyRate Error</small>
                    </div>
                    <div class="col-3"></div>

                    <div class="form-group col-sm-3">
                        <label for="shareFinishAt">종료일</label>
                        <input type="text" id="shareFinishAt" th:hidden="${!share.getMembers().isEmpty()}" th:field="*{shareFinishAt}" class="form-control"
                               placeholder="날짜를 선택해주세요." required>
                        <input type="text" th:if="${!share.getMembers().isEmpty()}" th:value="*{shareFinishAt}" class="form-control" disabled>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('shareFinishAt')}" th:errors="*{shareFinishAt}">recruitmentCount Error</small>
                    </div>

                </div>

                <div class="form-group">
                    <label for="description">상세 내용 입력</label>
                    <textarea id="description" type="textarea" th:field="*{description}" class="form-control"
                              placeholder="공유에 대해 소개해주세요." aria-describedby="descriptionHelp"></textarea>
                    <small id="descriptionHelp" class="form-text text-muted">
                        공유의 규칙 및 주의사항을 적어주세요.
                    </small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</small>
                </div>

                <div class="row mb-5 justify-content-center">
                    <a class="col-sm-3 btn btn-lg m-1" style="background-color: lightgray; color: white;"
                    th:href="@{|/share/${share.id}|}">
                        돌아가기
                    </a>
                    <button class="col-sm-3 btn btn-primary m-1" type="submit"
                            aria-describedby="submitHelp">공유 수정</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('#description').summernote({
                placeholder: '공유에 대한 내용, 규칙, 주의사항등을 적어주세요.',
                tabsize: 0.6,
                height: 200
            });
        });
    </script>

    <script>
        $(function() {
            $('#shareFinishAt').datepicker({
                format: "yyyy-mm-dd",
                startDate: '0',
                autoclose : true,
                templates : {
                    leftArrow: '&laquo;',
                    rightArrow: '&raquo;'
                },
                title: "종료 일자 선택",
                todayHighlight : true,
                language : "ko"

            });
        });
    </script>
    <body>
</html>