<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--결제용-->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>
    <div class="container" th:object="${share}">
        <div class="pt-5 row justify-content-center">
            <div class="col-sm-11">
                <h3>결제</h3>
            </div>
            <div class="col-sm-11">
                <hr style="border: solid 1px mediumpurple;"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-1">
                <svg th:data-jdenticon-value="*{master.getNickname()}" width="100%" class="rounded bg-light border"></svg>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <p class="lead col" th:text="*{serviceName}">서비스명</p>
                    <div class="col text-right">
                        <p>종료일: <span style="font-weight: lighter">[[*{shareFinishAt}]] ([[${share.getRamainDays()}]]일 / 일 평균 [[*{#numbers.formatInteger(dailyRate, 0, 'COMMA')}]]원)</span></p>
                    </div>
                </div>
                <div class="row">
                    <h2 class="col" th:text="*{title}" style="font-weight: normal">제목</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <p><span>[[${member.email}]]</span> (<span>[[${member.nickname}]]</span>님)</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <table class="table col-11 text-center border">
                <thead>
                <tr>
                    <th scope="col">참여일</th>
                    <th scope="col">판매가</th>
                    <th scope="col">수수료</th>
                    <th scope="col">합계</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[[${share.getRamainDays()}]]일</td>
                    <td>[[${#numbers.formatInteger(share.getCost(), 0, 'COMMA')}]]원</td>
                    <td>[[${#numbers.formatInteger(share.getCost()/10, 0, 'COMMA')}]]원</td>
                    <td><span style="font-weight: bold; color: mediumpurple; font-size: x-large">[[${#numbers.formatInteger(share.getTotalCost(), 0, 'COMMA')}]]</span>원</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <p style="color: red;">본 서비스는 실제 서비스가 아닌 학습용 서비스로, 결제된 금액은 매일 밤 자정에 환불됩니다.</p>
            </div>
        </div>

        <div class="row my-5 justify-content-center ">
            <a class="col-sm-3 btn btn-lg m-1" style="background-color: lightgray; color: white;"
            th:href="@{|/share/${share.id}|}">
                뒤로가기
            </a>
            <button class="col-sm-3 btn btn-lg m-1" style="background-color: mediumpurple; color: white;"
               onclick="requestPay();">
                결제하기
            </button>
        </div>
    </div>

    <script th:replace="fragments.html :: csrf"></script>
    <script th:inline="javascript">
        var IMP = window.IMP;
        IMP.init("imp20662518");

        function requestPay() {
            IMP.request_pay({
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: [[${member.nickname}]] + Date.now(),
                name: [[${share.title}]],
                amount: [[${share.getTotalCost()}]],
                buyer_email: [[${member.email}]],
                digital: true
            }, function (rsp) {
                if (rsp.success) {
                    jQuery.ajax({
                        url: "/share/"+[[${shareId}]]+"/payment",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        method: "POST",
                        data: JSON.stringify({
                            imp_uid: rsp.imp_uid
                        })
                    }).done(function (data) {
                        if (data) {
                            alert("결제가 완료되었습니다.");
                        } else {
                            alert("참여에 문제가 생겨 결제가 취소(환불)됩니다.");
                        }
                        location.href = "/share/" + [[${share.id}]];
                    })
                } else {
                    alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                }
            });
        }
    </script>
</body>
</html>