<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>
<div class="container" th:object="${share}">
        <div class="pt-5 row justify-content-center">
            <div class="col-sm-8">
                <h3 th:text="*{contentType.getDescription()}">카테고리</h3>
            </div>
            <div class="col-sm-3 text-right">
                <a th:if="${share.isMaster(#authentication.getPrincipal())}"
                   class="btn btn-outline-primary" th:href="@{|/share/${share.id}/edit|}">
                    수정하기
                </a>
                <span th:if="${share.checkAlreadyJoinMember(#authentication.getPrincipal())}" style="font-weight: bold; color: mediumpurple; font-size: x-large">참여중</span>
                <span th:if="${share.canJoin() && !share.checkAlreadyJoinMember(#authentication.getPrincipal()) && !share.isMaster(#authentication.getPrincipal())}" style="font-weight: bold; color: mediumpurple; font-size: x-large">모집중</span>
                <span th:if="${!share.canJoin() && !share.checkAlreadyJoinMember(#authentication.getPrincipal()) && !share.isMaster(#authentication.getPrincipal())}" style="font-weight: bold; color: gray; font-size: x-large">마감됨</span>
            </div>
            <div class="col-11">
                <div th:replace="fragments.html :: message"></div>
                <th:block th:if="${share.isMaster(#authentication.getPrincipal())}">
                    <div id="whitelist" th:text="${whitelist}" hidden></div>
                    <input id="keywords" type="text" name="keywords" th:value="${#strings.listJoin(keywords, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </th:block>
                <th:block th:each="test : ${share.getKeywords()}">
                    <svg th:if="${testStat.first}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                        <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                        <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                    </svg>
                    <span  class="badge badge-info"  style="font-size: medium" th:text="${test.getKeyword()}"></span>

                </th:block>
            </div>
            <div class="col-sm-11">
                <hr style="border: solid 1px mediumpurple;"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-1">
                <svg th:data-jdenticon-value="*{master.getNickname()}" width="100%" class="rounded bg-light border"></svg>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <p class="lead col" th:text="*{serviceName}">서비스명</p>
                    <div class="custom-control custom-switch col text-right" th:if="${share.isMaster(#authentication.getPrincipal())}">
                        <input type="checkbox" th:field="*{recruiting}" class="custom-control-input" id="recruiting">
                        <label class="custom-control-label" for="recruiting"><strong id="recruiting-label"></strong></label>
                    </div>
                </div>
                <div class="row">
                    <h2 class="col" th:text="*{title}" style="font-weight: normal">제목</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <p><a th:href="|/profile/*{master.getNickname()}|">[[*{master.getNickname()}]]</a>님의 공유</p>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 align-self-center">
                <p>종료일: <span style="font-weight: lighter">[[*{shareFinishAt}]] ([[${share.getRamainDays()}]]일 / 일 평균 [[*{#numbers.formatInteger(dailyRate, 0, 'COMMA')}]]원)</span>
                </p>
            </div>
            <div class="col-sm-8 align-self-center">
                <p th:if="${share.canJoin()}">참여비용: <span style="font-weight: bold; color: mediumpurple; font-size: x-large">[[${#numbers.formatInteger(share.getCost(), 0, 'COMMA')}]]</span>원</p>
            </div>
            <div class="col-sm-11">
                <hr/>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-11 row">
                <div class="col-sm-2" th:each="user : ${share.getMembers()}">
                    <svg th:data-jdenticon-value="${user.getNickname()}" th:aria-describedby="${user.getNickname()}" width="100%" class="rounded bg-light border"></svg>
                    <small th:id="${user.getNickname()}" class="form-text text-muted text-center">
                        <strong>
                            [[${user.getNickname()}]]
                        </strong>
                    </small>
                </div>

                <div class="col-sm-2" th:each="num : ${#numbers.sequence(1, share.recruitmentCount - share.getJoinMemberCount())}" th:if="${share.getJoinMemberCount() != share.recruitmentCount}">
                    <img src="/images/emptyMember.png" alt="빈멤버" th:aria-describedby="|emptyMember${num}|" width="100%" class="rounded bg-light border" style="filter: brightness(60%);"/>
                    <small th:id="|emptyMember${num}|" class="form-text text-muted text-center">
                        <strong>
                            아직 모집중!
                        </strong>
                    </small>
                </div>
            </div>
        </div>
        <div class="row my-5 justify-content-center" style="padding: 0;">
            <div class="col-sm-11 rounded p-3" th:utext="*{description}" style="background-color: #F7F7F7; border: solid 1px lightgray;"></div>
        </div>
        <div class="row mb-5 justify-content-center ">
            <a class="col-sm-3 btn btn-lg m-1" style="background-color: lightgray; color: white;">
                목록
            </a>
            <a class="col-sm-3 btn btn-lg m-1" style="background-color: mediumpurple; color: white;"
               th:if="${share.canJoin() && !share.checkAlreadyJoinMember(#authentication.getPrincipal()) && !share.isMaster(#authentication.getPrincipal())}"
               th:href="@{|/share/${share.id}/payment|}">
                참여신청
            </a>
            <a class="col-sm-3 btn btn-lg m-1" style="background-color: mediumpurple; color: white;"
               th:if="${share.checkAlreadyJoinMember(#authentication.getPrincipal())}"
               th:href="@{|/share/${share.id}/info|}">
                공유 정보
            </a>
            <a class="col-sm-3 btn btn-lg btn-primary m-1"
            th:if="${share.isMaster(#authentication.getPrincipal())}" th:href="@{|/share/${share.id}/edit|}">
                수정하기
            </a>
        </div>
    </div>
    <th:block th:if="${share.isMaster(#authentication.getPrincipal())}">
        <script th:replace="fragments.html :: csrf"></script>
        <script th:inline="javascript">
            let recruiting = document.getElementById('recruiting');
            let label = document.getElementById('recruiting-label');
            window.onload = function () {
                if (recruiting.checked) {
                    label.innerText = "ㅤ공개중";
                    label.color = "blue";
                } else {
                    label.innerText = "비공개중";
                    label.color = "gray";
                }
            };

            $("#recruiting").click(function(){
                $.ajax({
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/share/" + [[${share.id}]] + "/recruiting",
                    data: JSON.stringify({
                        'recruiting': recruiting.checked
                    })
                }).done(function (date) {
                    if (date) {
                        label.innerText = "ㅤ공개중";
                        label.color = "blue";
                        alert("공유가 공개로 전환되었습니다..\n이제 회원들이 공유를 보거나 참여할 수 있습니다.")
                    } else {
                        label.innerText = "비공개중";
                        label.color = "gray";
                        alert("공유가 비공개로 전환되었습니다.\n이미 가입한 회원들만 공유를 볼 수 있습니다.")
                    }
                });
            });
        </script>

        <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
        <script th:replace="fragments.html :: keyword ('/share/'+${share.id}+'/keywords')"></script>
    </th:block>
</body>
</html>