
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-profile (currentMenu='account')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragments.html :: message"></div>

            <div class="row">
                <h2 class="col-12">닉네임 변경</h2>
            </div>
            <div class="row">
                <form class="col-12" th:object="${nicknameForm}" th:action="@{/settings/account}" method="post">
                    <div class="form-group">
                        <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp" required>
                        <small id="nicknameHelp" class="form-text text-muted">
                            특수문자 없이 문자와 숫자로 2자 이상 20자 이내로 입력해주세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">nickname Error</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">변경하기</button>
                    </div>
                </form>
            </div>
            </hr>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-danger">계정 삭제</h2>
                    <div class="alert alert-danger" role="alert">
                        계정 삭제시 복구할 수 없습니다.
                    </div>
                </div>
                <form class="col-12" th:method="delete" th:action="@{/settings/account}">
                    <div class="form-group">
                        <button class="btn btn-outline-danger">계정 삭제</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<body>
</html>