
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-profile (currentMenu='notifications')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragments.html :: message"></div>
            <div class="row">
                <h2 class="col-12">알림 설정</h2>
            </div>
            <div class="row mt-3">
                <form class="col-12" th:action="@{/settings/notifications}" th:object="${notificationsForm}" method="post">
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{notificationByWeb}" class="custom-control-input" id="notificationByWeb">
                            <label class="custom-control-label" for="notificationByWeb">웹으로 받기</label>
                        </div>
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{notificationByEmail}" class="custom-control-input" id="notificationByEmail">
                            <label class="custom-control-label" for="notificationByEmail">이메일로 받기</label>
                        </div>
                    </div>
                    <div class="alert alert-light" role="alert">
                        <strong>
                        공유에 대한 알림을 받을 방법을 설정하세요.
                        </strong>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{keywordNotificationByWeb}" class="custom-control-input" id="keywordNotificationByWeb">
                            <label class="custom-control-label" for="keywordNotificationByWeb">웹으로 받기</label>
                        </div>
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{keywordNotificationByEmail}" class="custom-control-input" id="keywordNotificationByEmail">
                            <label class="custom-control-label" for="keywordNotificationByEmail">이메일로 받기</label>
                        </div>
                    </div>
                    <div class="alert alert-light" role="alert">
                        <strong>
                            <a href="#" th:href="@{/settings/keywords}">키워드</a>에 해당하는 공유가 만들어졌을 때 알림을 받을 방법을 설정하세요.
                        </strong>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<body>
</html>